<p>
  Turns left: <%= @tally.turns_left %>
</p>

<p>
  Word so far: <%= show_with_spaces(@tally.letters) %>
</p>

<%= if game_over?(@tally.game_state) do %>
  <%= new_game_button(@conn) %>
<% else %>
  <%= form_for(@conn, hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn form ->  %>
    <%= text_input(form, :guess) %>
    <%= submit("Make next move") %>
  <% end) %>
<% end %>

<p>
  Used letters: <%= show_with_spaces(@tally.used) %>
</p>
